# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
node_modules/

# Local configuration or secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
